[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-dotenv = "*"

[packages]
flask = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
pyshp = "*"
numpy = "*"
pandas = "*"
cython = "*"
shapely = "*"
proj = "*"
six = "*"
geopandas = "*"
matplotlib = "*"
descartes = "*"
libmagic = "*"
mutagen = "*"

[requires]
python_version = "3.7"
