{% extends "base.html" %}

{% block content %}
  {% if not analytics %}
    <div class="content">
      <p>No analytics found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
              <td>{{ analyticstitle }} Analytics as of {{ currtime }}</td>
          </tr>
      </tbody>
  </table>
  <br>

  <table id="mytable" class="display" style="width:100%">
    <thead>
        <tr bgcolor="DarkGray">
            {% for h in headings %}
            <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in analytics %}
        <tr>
            {% for v in row.values() %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}
