{% extends "base.html" %}

{% block content %}
  {% if not analytics %}
    <div class="content">
      <p>No analytics found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
              <td>{{ analyticstitle }} Analytics as of {{ currtime }}</td>
          </tr>
      </tbody>
  </table>
  <br>

{%- if (analyticstitle == "Title Stats") or (analyticstitle == "Custom") or (analyticstitle == "Invite") -%}
  {%- set search_type = "&type=song" -%}
{%- elif (analyticstitle == "Partner Stats") or (analyticstitle == "Repeat") -%}
  {%- set search_type = "&type=recording" -%}
{%- else -%}
  {%- set search_type = "" -%}
{%- endif -%}

  <table id="mytable" class="display" style="width:100%">
    <thead>
        <tr bgcolor="DarkGray">
{%- for h in headings -%}
            <th>{{ h }}</th>
{%- endfor -%}
        </tr>
    </thead>
    <tbody>
{% for row in analytics %}
        <tr>
  {%- for k,v in row.items() -%}
    {%- if k == "search_text" -%}
      {%- set search_string =  v.replace(" ","+") %}
            <td><a href="https://www.youtube.com/results?search_query={{search_string}}+lyrics" target="_blank">{{ v }}</a></td>
    {%- else -%}
            <td>{{ v }}</td>
    {%- endif -%}
  {% endfor %}
        </tr>
{% endfor %}
    </tbody>
  </table>

{% endblock %}
