{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <h2 class="is-size-3">Analytics</h2>

    <form method="post" action="{{ url_for('analytics') }}">
      <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
          <input name="username" value="KaushalSheth1" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="fromdate">From Date</label>
        <div class="control">
          <input name="fromdate" value="2018-07-01" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="todate">To Date</label>
        <div class="control">
          <input name="todate" value="2030-12-31" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="headings">Column Headings</label>
        <div class="control">
          <input name="headings" value="['Song','First Performance Time']" type="input" class="input"></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="timeperiod">Select Period</label>
        <select name="timeperiod" id="timeperiod">
          <option value="YYYY-MM">Month</option>
          <option value="YYYY-&quot;W&quot;WW">Week</option>
          <option value="YYYY-&quot;Q&quot;Q">Quarter</option>
          <option value="YYYY-MM-DD">Day</option>
        </select><br>
      </div>

      <div class="field">
        <label class="label" for="todate">To Date</label>
        <div class="control">
          <textarea name="analyticssql" rows="20" cols="80">
select fixed_title,min(created_at)
from my_performances
group by 1
having min(created_at) > now() - interval '3 days'
          </textarea>
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <input type="submit" name="btn" value="Title Stats" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Partner Stats" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Invite" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Repeat" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Favorite Songs" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Period Stats" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Custom" class="button is-link" />
        </div>
      </div>
    </form>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
