{% extends "base.html" %}

{% block content %}
  {% if not analytics %}
    <div class="content">
      <p>No analytics found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
              <td>Analytics as of {{ currtime }}</td>
          </tr>
      </tbody>
  </table>
  <br>

  <table id="mytable" class="display" style="width:100%">
    <thead><tr bgcolor="DarkGray"><th>Main Performer</th><th>Song Name</th><th># Performances</th><th>First Performed</th><th>Last Performed</th>
    <tbody>
      {% for row in analytics %}
        <tr>
          <td>{{ row.main_performer }}</td>
          <td>{{ row.fixed_title }}</td>
          <td>{{ row.num_performances }}</td>
          <td>{{ row.first_performance_time }}</td>
          <td>{{ row.last_performance_time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
