{% extends "base.html" %}

{% block content %}
  {% if not performances %}
    <div class="content">
      <p>No performances found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <form method="post" action="{{ url_for('submit_performances') }}">
  <input type="submit" name="btn" value="Save Performances" class="button is-link" />
  <input type="submit" name="btn" value="Download All" class="button is-link" />
  <input type="submit" name="btn" value="Show Map" class="button is-link" />
  <input type="submit" name="btn" value="Save Favorites" class="button is-link" />
  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
            <td><a href="/crawl_favorites/{{ user}}">Crawl favorites for partners of {{ user }}</a></td>
            <td><a href="/crawl_performances/{{ user}}">Crawl performances for partners of {{ user }}</a></td>
              <td><a href="/search_smule_user/{{ search_user}}">Return to results for {{ search_user }}</a></td>
              <td><a href="/show_performers">Show Performers</a></td>
          </tr>
      </tbody>
  </table>
  <br>

  <table id="mytable" class="display" style="width:100%">
    {% if searchOptions['offline'] %}
      <thead><tr bgcolor="DarkGray"><th>Created Time</th><th>Title</th><th>Partner</th><th>Listens</th><th>Loves</th><th>Download Link</th><th>Play Song</th></thead>
    {% else %}
      <thead><tr bgcolor="DarkGray"><th>#</th><th>Created Time</th><th>Title</th><th>Partner</th><th>Listens</th><th>Loves</th><th>Download Link</th><th>Play Song</th></thead>
    {% endif %}
    <tbody>
      {% for performance in performances %}
        {% if performance.create_type == "ensemble" %}
            <tr style="color:Green">
        {% elif performance.create_type == "invite" %}
            <tr style="color:Turquoise">
        {% else %}
            <tr>
        {% endif %}
              {% if searchOptions['offline'] %}
              {% else %}
                <td>{{ loop.index }}</td>
              {% endif %}
              <td>{{ performance.created_at }}</td>
              <td><a href="{{ performance.web_url }}">{{ performance.title }}</a></td>
              {% if searchOptions['offline'] %}
                  <td>
                      <a href="{{ performance.web_url }}"><img src="{{performance.cover_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a>
                  </td>
              {% else %}
                  <td>
                      <a href="/search_smule_user/{{ performance.display_handle }}"><img src="{{performance.display_pic_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a>
                  </td>
              {% endif %}
              <td>{{ performance.total_listens }}</td>
              <td>{{ performance.total_loves }}</td>
              {% if searchOptions['offline'] %}
                <td><a href="{{ performance.web_url }}">Play only</a></td>
              {% else %}
                <td><a href="/download_performance/{{ performance.key }}">Download</a></td>
              {% endif %}
              <td><a href="{{ performance.web_url }}">{{ performance.filename }}</a></td>
            </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
