{% extends "base.html" %}

{% block content %}
  {% if not performances %}
    <div class="content">
      <p>No performances found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <form method="post" action="{{ url_for('submit_performances') }}">
  <input type="submit" name="btn" value="Save Performances" class="button is-link" />
  <input type="submit" name="btn" value="Download All" class="button is-link" />
  <input type="submit" name="btn" value="Show Map" class="button is-link" />
  <input type="submit" name="btn" value="Save Favorites" class="button is-link" />
  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
            <td><a href="/crawl_favorites/{{ user}}">Crawl favorites for partners of {{ user }}</a></td>
            <td><a href="/crawl_performances/{{ user}}">Crawl performances for partners of {{ user }}</a></td>
              <td><a href="/search_smule_user/{{ search_user}}">Return to results for {{ search_user }}</a></td>
              <td><a href="/show_performers">Show Performers</a></td>
          </tr>
      </tbody>
  </table>
  <br>

  <table id="mytable" class="display" style="width:100%">
    <thead><tr bgcolor="DarkGray">
{%- if not searchOptions['offline'] -%}
      <th>#</th>
{%- endif -%}
{%- if searchOptions['searchType'] == "partnerinvites" -%}
      <th>Created Time</th><th>Title</th><th>Partner</th><th>Partner Joins</th><th>Recency Score</th><th>Action</th><th>Play Song</th>
{%- else -%}
      <th>Created Time</th><th>Title</th><th>Partner</th><th>Partner Joins</th><th>Last Join Time</th><th>Action</th><th>Play Song</th>
{%- endif -%}
    </thead>
    <tbody>
{%- for performance in performances -%}
  {% if performance.create_type == "ensemble" %}
      <tr style="color:Orange">
  {%- elif performance.create_type == "invite" -%}
    {% if performance.perf_status == "e" %}
      <tr style="color:Red">
    {% else %}
      <tr style="color:Turquoise">
    {%- endif -%}
  {% else %}
      <tr>
  {%- endif -%}
  {%- if searchOptions['offline'] -%}
  {% else %}
        <td>{{ loop.index }}</td>
  {% endif %}
        <td>{{ performance.created_at }}</td>
        <td><a href="{{ performance.recording_url }}" target="_blank">{{ performance.title }}</a><br>
{%- if not searchOptions['offline'] -%}
          <br>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['amazing']}}')">AMAZING! |</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['awesome']}}')">Awesome |</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['fantastic']}}')">Fantastic |</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['good']}}')">Good |</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['average']}}')">Average |</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['ok']}}')">OK</a>
            <a href="{{ performance.web_url }}" target="_blank" onClick="clip_text('{{performance.comment['bad']}}')">Bad</a>
          <br>Rating:
          <a href="/save_db_favorite/{{ performance.key }}/9" target="_blank"> 9|</a>
          <a href="/save_db_favorite/{{ performance.key }}/8" target="_blank"> 8|</a>
          <a href="/save_db_favorite/{{ performance.key }}/7" target="_blank"> 7|</a>
          <a href="/save_db_favorite/{{ performance.key }}/6" target="_blank"> 6|</a>
          <a href="/save_db_favorite/{{ performance.key }}/5" target="_blank"> 5|</a>
          <a href="/save_db_favorite/{{ performance.key }}/4" target="_blank"> 4|</a>
          <a href="/save_db_favorite/{{ performance.key }}/3" target="_blank"> 3|</a>
          <a href="/save_db_favorite/{{ performance.key }}/2" target="_blank"> 2|</a>
          <a href="/save_db_favorite/{{ performance.key }}/1" target="_blank"> 1|</a>
          <a href="/save_db_favorite/{{ performance.key }}/1" target="_blank"> 0</a>
{%- endif -%}
        </td>
  {%- if searchOptions['offline'] -%}
        <td style="color:Black"><a href="http://www.smule.com/{{performance.display_handle}}" target="_blank"><img src="{{performance.cover_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a></td>
  {%- elif performance.join_cnt.startswith("0|") -%}
        <td style="background-color:Pink"><a href="http://www.smule.com/{{ performance.display_handle }}" target="_blank"><img src="{{performance.display_pic_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a></td>
  {%- elif performance.recent_join_cnt > 0 -%}
        <td style="background-color:LightGreen"><a href="http://www.smule.com/{{ performance.display_handle }}" target="_blank"><img src="{{performance.display_pic_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a></td>
  {%- else -%}
        <td style="background-color:LightYellow"><a href="http://www.smule.com/{{ performance.display_handle }}" target="_blank"><img src="{{performance.display_pic_url}}" height="120" width="120"><br>{{ performance.display_handle }}</a></td>
  {%- endif -%}
        <td style="text-align:center">{{ performance.join_cnt }}</td>
        {%- if searchOptions['searchType'] == "partnerinvites" -%}
        <td style="text-align:center">{{ performance.total_loves }}</td>
        {%- else -%}
        <td style="text-align:center">{{ performance.last_join_time }}</td>
        {%- endif -%}
  {%- if searchOptions['offline'] -%}
        <td><a href="{{ performance.web_url }}" target="_blank">Play only</a></td>
  {%- else -%}
        <td><a href="/download_performance/{{ performance.key }}" target="_blank">Download</a></td>
  {%- endif -%}
        <td><a href="{{ performance.yt_search }}" target="_blank">{{ performance.filename }}</a></td>
      </tr>
{% endfor %}
    </tbody>
  </table>

{% endblock %}
