{% extends "base.html" %}

{% block content %}
  {% if not performances %}
    <div class="content">
      <p>No performances found! <a href="{{ url_for('search') }}">Try another search</a>
    </div>
  {% endif %}

  <form method="post" action="{{ url_for('submit_performances') }}">
  <input type="submit" name="btn" value="Save Performances" class="button is-link" />
  <input type="submit" name="btn" value="Download All" class="button is-link" />
  <input type="submit" name="btn" value="Show Map" class="button is-link" />
  <input type="submit" name="btn" value="Save Favorites" class="button is-link" />
  <br><br>
  <table style="width:100%">
      <tbody>
          <tr>
              <td><a href="/crawl_favorites/{{ user}}">Crawl favorites for {{ user }}</a></td>
              <td><a href="/search_smule_user/{{ search_user}}">Return to results for {{ search_user }}</a></td>
          </tr>
      </tbody>
  </table>
  <br>

  <table style="width:100%">
    <thead><tr><th>#</th><th>Title</th><th>Created Time</th><th>Performed By</th><th>City</th><th>Loves</th><th>Play Song</th><th>Download Song</th></thead>
    <tbody>
      {% for performance in performances %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ performance.title }}</td>
          <td>{{ performance.created_at }}</td>
          <td>
              <a href="/search_smule_user/{{ performance.display_handle }}"><img src="{{performance.display_pic_url}}" height="120" width="80"><br>{{ performance.display_handle }}</a><br>
          </td>
          <td>{{ performance.orig_track_city }}, {{ performance.orig_track_country }}</td>
          <td>{{ performance.total_loves }}</td>
          <td><a href="{{ performance.web_url }}">Listen</a></td>
          <td><a href="/download_performance/{{ performance.key }}">{{ performance.filename }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
