{% extends "base.html" %}

{% block content %}

  <div id="map" style="height: 800px;"></div>
  <script type="text/javascript">
    // The first parameter are the coordinates of the center of the map
    // The second parameter is the zoom level
    var map = L.map('map').setView([{{options['centlat']}}, {{options['centlon']}}], 5);

    // {s}, {z}, {x} and {y} are placeholders for map tiles
    // {x} and {y} are the x/y of where you are on the map
    // {z} is the zoom level
    // {s} is the subdomain of cartodb
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });

    // Now add the layer onto the map
    map.addLayer(layer);

    var markers = L.markerClusterGroup();
    {% for performance in performances %}
        // Only display performances that are not invites
        {% if performance.create_type != "invite" %}
            //markers.addLayer(L.marker([{{ performance.owner_lat }}, {{ performance.owner_lon}}]).addTo(map).bindTooltip("<strong>{{ performance.owner_handle }} - {{ performance.orig_track_city }} - {{ performance.title }}</strong>"));
            markers.addLayer(L.marker([{{ performance.owner_lat }}, {{ performance.owner_lon}}]).addTo(map).bindTooltip('<img src="{{performance.display_pic_url}}" height="240" width="240"><br>{{ performance.display_handle }} - {{ performance.orig_track_city }} - {{ performance.fixed_title }}'));
        {% endif %}
    {% endfor %}
    map.addLayer(markers);

  </script>

{% endblock %}
