{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <h2 class="is-size-3">Search</h2>

    <form method="post" action="{{ url_for('search') }}">
      <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
          <input name="username" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="numrows"># rows to fetch</label>
        <div class="control">
          <input name="numrows" value="100" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="startoffset">Starting Offset (Smule only)</label>
        <div class="control">
          <input name="startoffset" value="0" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="fromdate">From Date</label>
        <div class="control">
          <input name="fromdate" value="2020-06-01" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="todate">To Date</label>
        <div class="control">
          <input name="todate" value="2030-12-31" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" name="btn" value="Search DB" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Smule" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Favorites" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Ensembles" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Invites" class="button is-link" />
        </div>
      </div>
    </form>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
