{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>

    <form method="post" action="{{ url_for('search') }}">
      <div class="field is-grouped">
        <label class="label" for="checkboxes"></label>
        <div class="control">
            <input name="offline" type="checkbox" checked>&nbsp;Offline Access</input>
        </div>
        <div class="control">
            <input name="comments" type="checkbox">&nbsp;Include Comments</input>
        </div>
        <div class="control">
            <input name="videos" type="checkbox" checked>&nbsp;Include Video Content</input>
        </div>
        <div class="control">
            <input name="audio" type="checkbox" checked>&nbsp;Include Audio Content</input>
        </div>
        <div class="control">
            <input name="solo" type="checkbox">&nbsp;Solos only</input>
        </div>
        <div class="control">
            <input name="joins" type="checkbox" checked>&nbsp;Include Joins</input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="username">Username</label>
        <div class="control">
          <input name="username" value="KaushalSheth1" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="numrows"># rows to fetch</label>
        <div class="control">
          <input name="numrows" value="100" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="startoffset">Starting Offset (Smule only)</label>
        <div class="control">
          <input name="startoffset" value="0" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="fromdate">From Date</label>
        <div class="control">
          <input name="fromdate" value="2021-01-01" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field">
        <label class="label" for="todate">To Date</label>
        <div class="control">
          <input name="todate" value="2030-12-31" type="input" class="input" required></input>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" name="btn" value="Search Smule" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Performers" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search DB" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Crawl Joiners" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Favorites" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Ensembles" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Search Invites" class="button is-link" />
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Fix Titles" class="button is-link" />
        </div>
      </div>

      <div class="field is-grouped">
        <label class="label" for="weburl">Partner Query</label>
        <div class="control">
          <textarea name="partnersql" rows="20" cols="80">
select partner_name, partner_account_id, recency_score, rating
from favorite_partner
where partner_name != 'KaushalSheth1'
and recency_score between 0 and 9999
order by 3 desc, 4 desc
          </textarea>
        </div>
        <div class="control">
            <input name="knowntitles" type="checkbox" checked>&nbsp;Include Known Titles</input><br>
            <input name="unknowntitles" type="checkbox">&nbsp;Include Unknown Titles</input><br>
            <input name="repeats" type="checkbox">&nbsp;Include Repeats</input><br>
            <input name="notfollowing" type="checkbox">&nbsp;Not Following Only</input><br>
        </div>
        <div class="control">
          <input type="submit" name="btn" value="Partner Invites" class="button is-link" />
        </div>
      </div>


    </form>
  <div class="column"></div>
</div>

{% endblock %}
