{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <h2 class="is-size-3">Utilities<br><br></h2>

    <form method="post" action="{{ url_for('utilities') }}">
        <div class="field is-grouped">
          <label class="label" for="title">Title:&nbsp;</label>
          <div class="control">
            <input name="title" value="" type="input" class="input" size="50"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Popular Performers" class="button is-link" />
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Recent Performers" class="button is-link" />
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <label class="label" for="title">URL:&nbsp;</label>
          <div class="control">
            <input name="url" value="" type="input" class="input" size="80"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Get HTML" class="button is-link" />
            <input type="submit" name="btn" value="Download" class="button is-link" />
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <label class="label" for="distance">Distance (miles):&nbsp;</label>
          <div class="control">
              <input name="distance" value="2500" type="input" class="input" size="30"></input>
          </div>
          <label class="label" for="dayssincelastperf">Days since Last Performance:&nbsp;</label>
          <div class="control">
                <input name="dayssincelastperf" value="180" type="input" class="input" size="30"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Performer Map" class="button is-link" />
          </div>
        </div>

    </form>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
