{% extends "base.html" %}

{% block content %}

<div class="columns is-desktop">
  <div class="column"></div>
  <div class="column is-half-desktop">
    <h2 class="is-size-3">Utilities<br><br></h2>

    <form method="post" action="{{ url_for('utilities') }}">
        <div class="field is-grouped">
          <label class="label" for="title">Title:&nbsp;</label>
          <div class="control">
            <input name="title" value="Lag Ja Gale" type="input" class="input" size="50"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Popular Performers" class="button is-link" />
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Recent Performers" class="button is-link" />
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Title Metadata" class="button is-link" />
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <label class="label" for="title">URL:&nbsp;</label>
          <div class="control">
            <input name="url" value="" type="input" class="input" size="80"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Get HTML" class="button is-link" />
            <input type="submit" name="btn" value="Download" class="button is-link" />
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <label class="label" for="title">Search:&nbsp;</label>
          <div class="control">
            <input name="picswhereclause" value="1 = 1" type="input" class="input" size="80"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Download Pics" class="button is-link" />
          </div>
        </div>
        <br>
        <div class="field is-grouped">
          <label class="label" for="title">Pics:&nbsp;</label>
          <div class="control">
            <input name="picswildcard" value="c:\tmp\*.jpg" type="input" class="input" size="50"></input>
          </div>
          <label class="label" for="title">Dupes:&nbsp;</label>
          <div class="control">
            <input name="dupesfolder" value="c:\tmp\dupes\" type="input" class="input" size="50"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Process Duplicates" class="button is-link" />
          </div>
        </div>

        <br>
        <div class="field is-grouped">
          <label class="label" for="centlat">Center Latitude:&nbsp;</label>
          <div class="control">
              <input list="latlist" name="centlat" placeholder="37.76" type="input" class="input" size="10"></input>
              <datalist id="latlist"><option value="37.76"><option value="22.93"><option value="38.89"><option value="-29.7"></datalist>
              <select name="latlists" style="width: auto"><option value="37.76">37.76</option><option value="22.93">22.93</option><option value="38.89">38.89</option><option value="-29.7">-29.7</option></select>
          </div>
          <label class="label" for="centlon">Center Longitude:&nbsp;</label>
          <div class="control">
              <input list="lonlist" name="centlon" placeholder="-121.89" type="input" class="input" size="10"></input>
              <datalist id="lonlist"><option value="-121.89"><option value="79.52"><option value="-95.78"><option value="145.86"></datalist>
          </div>
          <label class="label" for="distance">Distance (miles):&nbsp;</label>
          <div class="control">
              <input name="distance" value="2500" type="input" class="input" size="10"></input>
          </div>
          <label class="label" for="dayssincelastperf">Days since Last Performance:&nbsp;</label>
          <div class="control">
                <input name="dayssincelastperf" value="180" type="input" class="input" size="10"></input>
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Performer Map" class="button is-link" />
          </div>
        </div>
        <div class="field is-grouped">
          <label class="label" for="distance">Other Tools:&nbsp;</label>
          <div class="control">
            <input type="submit" name="btn" value="Non Joiners" class="button is-link" />
          </div>
          <div class="control">
            <input type="submit" name="btn" value="Save Title Metadata" class="button is-link" />
          </div>
        </div>

    </form>
  </div>
  <div class="column"></div>
</div>

{% endblock %}
